<ion-view view-title="Account">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="openModal()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class='item-divider'>
        Transactions
      </ion-item>
      <ion-item>
        <div class='pull-left'>2:30-3:30 on Thursday</div>
        <div class='pull-right'>1:00 hrs</div>
      </ion-item>
      <ion-item>
        <div class='pull-left'>2:30-3:30 on Thursday</div>
        <div class='pull-right'>1:00 hrs</div>
      </ion-item>
      <ion-item>
        <div class='pull-left'>2:30-3:30 on Thursday</div>
        <div class='pull-right'>1:00 hrs</div>
      </ion-item>
      <ion-item class='balanced'>
        <div class='pull-left'> + Added Hours</div>
        <div class='pull-right'>40:00 hrs</div>
      </ion-item>
    </ion-list>
    <div class="bar bar-footer bar-assertive">
      <div class="title">Add Hours</div>
    </div>
  </ion-content>
</ion-view>