<ion-view view-title="Workshop Cafe">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="openModal()">
      Menu
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item>
        <h3 class='pull-left'>{{today | amDateFormat:'ddd MMMM Do YYYY'}}</h3>
        <h3 class='pull-right'>{{today | amDateFormat:'h:mma'}}</h3>
      </ion-item>
      <ion-item ng-show="checkedInAt">
        <h3 class='pull-left'>Checked in to seat {{seat_id}}</h3>
        <h3 class='pull-right'>{{checkedInAt | amDateFormat:'h:mma'}}</h3>
      </ion-item>
      <ion-item ng-show="checkedOutAt">
        <h3 class='pull-left'>Checked out of seat {{seat_id}}</h3>
        <h3 class='pull-right'>{{checkedOutAt | amDateFormat:'h:mma'}}</h3>
      </ion-item>
    </ion-list>
    <div class='image-buttons'>
      <ion-list>
        <ion-item ng-hide="checkedInAt">
          <form ng-submit="checkIn()">
            <label class="item item-input item-select">
              <div class="input-label">
                Seat Number
              </div>
              <select ng-model="seat_id" required>
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
              </select>
            </label>
            <button class="button button-large button-block button-energized" type="submit">Check In</button>
          </form>
        </ion-item>
        <ion-item ng-show="checkedInAt && !checkedOutAt">
          <button class="button button-large button-block button-assertive" type="submit" ng-click="checkOut()">Check Out</button>
        </ion-item>
        <ion-item ng-show="checkedInAt && checkedOutAt">
          <button class="button button-large button-block button-balanced" type="submit" ng-click="checkInAgain()">Check In Again</button>
        </ion-item>
      </ion-list>
      <div ng-click="newOrder()" class='btn-img-coffee'>
        <div class='btn-img-text'>Order Food & Drinks</div>
      </div>
      <div ng-click="hail()" class='btn-img-staff'>
        <div class='btn-img-text'>Hail Staff</div>
      </div>
      <div ng-click="howItWorks()" class='btn-img-how'>
        <div class='btn-img-text'>How WC Works</div>
      </div>
    </div>
  </ion-content>
  <!-- align to the bottom of the page -->
  <div style="position: absolute; bottom: 0px; width: 100%; background:white;">
  </div>
</ion-view>


<script id="home-menu-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeModal()">
          Close
        </button>
      </div>
      <h1 class="title">Menu</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="newOrder()">
          New Order
        </button>
      </div>
    </ion-header-bar>
    <ion-content>
      <img class="img-responsive" ng-src="https://dl.dropboxusercontent.com/s/fnkti4wg8umq0ac/MENUS-01.png" />
    </ion-content>
  </ion-modal-view>
</script>
