/* Empty. Add your own CSS if you like */

.btn-img-coffee {
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.25), 
    rgba(0, 0, 0, 0.25)
  ),
  url("../img/coffee.jpg");
  background-size: cover;
  margin-bottom:0;
  height:100px;
}

.btn-img-staff {
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.25), 
    rgba(0, 0, 0, 0.25)
  ),
  url("../img/staff.jpg");
  background-size: cover;
  margin-bottom:0;
  height:100px;
}

.btn-img-how {
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.25), 
    rgba(0, 0, 0, 0.25)
  ),
  url("../img/coffee-laptop.jpg");
  background-size: cover;
  margin-bottom:0;
  height:100px;
}

.btn-img-text {
  position: absolute;
  bottom: 43px;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.red-bubble {
  text-decoration: none;
  background: rgb(202, 202, 202);
  border-radius: 45px;
  color: white;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
  font-size: 10px;
  position: relative;
  left: 7px;
  top: -7px;
}

.img-responsive{
  width:100%;
}

.button-clear.button-clear {
  color:#444;
}

textarea {
    resize: none;
}

.order-body {
  height: 100px;
  margin-top: 10px;
}